/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.user-status-container {
    display: flex;
    position: relative;
}

.user-status-container  .user-status {

}

.user-status-container  .user-status-online {

}

.user-status-container  .user-status-away {

}

.user-status-container  .user-status-busy {

}

.user-status-container  .user-status-call {

}

.user-status-container  .user-status-dropdown {

}

.user-status-container .user-status-dropdown .status-icon-dropdown {
    font-size: 24px;
    color: #6c757d;
}

.user-status-container .user-status-menu-contents {
    visibility: hidden;
    position: absolute;
    top: 100%;
}

.user-status-container.open  .user-status-menu-contents {
    visibility: visible;
}